/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* common styles or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
/* top-bar style */
.top-bar {
  background-color: #4267b2;

  margin-bottom: 70px;
}
.heading {
  font-size: 64px;
  color: #ffffff;
}
.stream {
  background-color: #e02c6d;
  width: 168px;
  height: 44px;
}
.fa-stream {
  padding: 10px 24px;
}

/* players style */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-left: 180px;
  margin-right: 210px;
  margin-bottom: 165px;
}
.player {
  width: 330px;
  height: 474px;
  left: 180px;
  top: 747px;
}
.player img {
  width: 300px;
  height: 256px;
}
.player-detail {
}
.player-name {
  color: #18191f;
  font-size: 28px;
}
.player-info {
  color: #6c6c6c;
  font-size: 16px;
}
/* bottom-part style */
.bottom-part {
  align-items: center;
  text-align: center;
  color: #000000;
  font-size: 18px;
  margin-bottom: 63px;
}
.bottom-part img {
  width: 483.87px;
  height: 110px;
}

.social-media {
  align-items: center;
  margin: 0px 14px;
}
.fa-instagram,
.fa-twitter,
.fa-youtube,
.fa-facebook {
  font-size: 32px;
  color: #aeaeae;
}
